@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
}
.App {
	height: 100vh;
	width: 100vw;
	background-color: rgb(238, 198, 99)
	;
	/* padding: 2rem; */
	display: flex;
	justify-content: center;
	align-items: center;
}
